body {
	background: rgb(221, 221, 221);
}

.formcenter input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.formcenter input[type=submit] {
	background-color: #878789;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 40%;
	margin-left: auto;
}

.formcenter input[type=submit]:hover {
	opacity: 0.8;
}

#header {
	width: 100%;
	background:
		url(https://grid.globalrescue.com/member/assets/images/Header_Bg.jpg)
		no-repeat;
	position: relative;
	background-size: 100% 100%;
	top: 0;
	position: fixed;
	height: 15%;
	text-align: center;
	position: fixed;
	overflow: visible;
	z-index: 999;
}

#dock {
	width: 100%;
	left: 0;
	padding: 0.5em 0;
	bottom: 0;
	font-family: FTL45;
	color: white;
	font-size: 0.6em;
	text-align: center;
	position: fixed;
	overflow: visible;
	background:
		url(https://grid.globalrescue.com/member/assets/images/Header_Bg.jpg)
		no-repeat;
	background-size: 100% 100%;
	height: 15%;
}

#head {
	float: left;
	width: 100%;
}

.logoContainer {
	float: left;
	height: 65%;
	width: 100px;
	margin: 20px;
}

div.div2, div.center  input[type=submit] {
	background-color: #878789;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 40%;
	margin-left: auto;
}

.div2, .center input[type=submit]:hover {
	opacity: 0.8;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

div.center {
	position: realative;
	background: rgb(240, 240, 240);
	padding: 20px;
	border-style: solid;
	border-radius: 2px;
	border-color: lightgrey;
	margin: auto;
	margin-bottom: 15%;
	text-align: center;
	align-content: center;
}

div.div2 {
	position: absolute;
	background-color: rgb(200, 200, 200);
	border-style: solid;
	border-radius: 2px;
	border-color: grey;
	width: 30%;
	padding: 5px;
	align-content: center;
	margin-left: 35%;
	z-index: +5;
	text-align: center;
	opacity: 1;
}

div.div2 input:hover {
	opacity: 0.3;
	color: white;
	background: black;
}

div.div2 input {
	width: 60%;
	margin-left: 20px;
	margin: 3px;
	padding: 5px 3px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

div.div2 label {
	align-content: center;
	display: block;
}

.formcenter {
	display: inline-block;
	margin-top: 17%;
	height: 200px;
	width: 400px;
	background: rgb(221, 221, 221);
	padding: 20px;
	border-style: solid;
	border-radius: 2px;
	border-color: lightgrey;
	margin-left: 35%;
	text-align: center;
	align-content: center;
}

.email {
	color: white;
	float: right;
	margin-right: 1%;
	font-size: 25px;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

td, th #idpic {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

div.upper {
	position: relative;
	background: rgb(240, 240, 240);
	padding: 20px;
	border-style: solid;
	border-radius: 2px;
	border-color: lightgrey;
	margin: auto;
	margin-top: 7%;
	align-content: center;
	padding: 40px;
}

div.upper input[type=text] {
	font-size: 18px;
	float: left;
	width: 30%;
	height: 30px;
	padding: 5px;
}

div.upper a {
	float: right;
	cursor: pointer;
}

#map {
	height: 60%;
	width: 100%;
}